.bady {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar{
    min-height: 76px;
		background-color: #e5e5e5;
}

.navbar ul , span {
	padding:0; margin:0;
}

.navbar li {
	list-style:none;
}

.navbar #list {
    width:100%;
    height:38px;
    line-height:38px;
		background: -moz-linear-gradient(top, #114f8e 0%, #0f66be 100%);
		background: -o-linear-gradient(top, #114f8e 0%, #0f66be 100%);
		background: -webkit-linear-gradient(top, #114f8e 0%, #0f66be 100%);
		background: -ms-linear-gradient(top, #114f8e 0%, #0f66be 100%);
		background: linear-gradient(top, #114f8e 0%, #0f66be 100%);
}

.navbar #list .lis {
    float:left;
    width:140px;
    text-align: center;

}

.navbar #list span {
    height:38px;
    line-height:38px;
    display:inline-block;
    font-size: 16px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    font-weight: 600;
}

.spanclic {
}

.spanclicout {

}

.navbar #list span:visited {
	color:yellow;
}

.navbar #list ul {
    position: absolute;
    top:38px;
    display:none;
    width:900px;
    text-align: left;
		background-color: #e5e5e5;
		left:0;
}

.navbar #list ul li {
    height:30px;
    line-height:30px;
    width:100px;
    text-indent: 2px;
    text-align: center;
    display:inline-block;
}

.navbar #list ul li a {
    width:100px;
    display:inline-block;
    font-size: 14px;
    color:#fff;
}

.navbar #list ul li a:hover {
    color:#1c84c6;
}

.navbar #list ul .hover {
	color:#666;
}

.navbar #list ul .active{
    color:#222;
}



/******************************************************************************/

#top {
    box-shadow: 0 0 6px #000;
}

.loge_info {
    height: 50px;
    padding-top: 10px;
    background: #202b5c;
    color: white;
}

.loge_left {
    margin: 0;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
}

.user_name {
    float: right;
    line-height: 35px;
    font-size: 15px;
    font-weight: 600;
}

.user_out {
    float: right;
    margin-right: 10px;
    color: #9e9e9e;
    margin-left: 5px;
    line-height: 35px;
    font-size: 15px;
}



/******************************************************************************/

#main {
    margin-top: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 4px #e2e2e2;
    background: #fafafa;
}
